.container {
  width: 100%;
  height: calc(100vh - 64px - 64px);
  display: flex;

  border-radius: 10px/20px;
  margin: 0 auto;
  .left {
    height: 100%;
    padding: 20px;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .right {
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
