@import url(../common.module.scss);

.body {
  padding: 20px 150px;
  border: 1px solid black;

  .bodyWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;

    .infoSection,
    .archiveSection {
      width: 80%;
      margin: 5px;
      padding: 10px;
      border: 1px solid black;
    }
    .infoSection {
      display: flex;
      align-items: center;

      .profileSection {
        width: 200px;
        height: 200px;
        flex: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid black;
        margin-right: 10px;
      }
    }
    .archiveSection {
      padding: 10px;
      .archiveWrapper {
        border: 1px solid black;
        display: flex;
        overflow: hidden;
        position: relative;
        .archiveItemWrapper {
          width: 100%;
          flex: none;
        }
      }
    }
  }
}
