.header {
  padding: 10px 40px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
  .returnBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
  }
}

.main {
  min-height: calc(100vh - 64px - 64px);
}

.footer {
  text-align: center;
  z-index: 100;
  box-shadow: -1px 0 5px #999;
  color: #999;
}
